@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;,1,400&disp lap=swap')
  
  <html>{
      font-family:'Montseerat',sans-serif;

}
body{
  margin:0;
  background-color:#B3F2DD;
  /*coolors.co  */
}
img{
  max-width:100%;
  height:auto
}
/*mobile first approach*/
#intro{
  border:1px solid;
  margin:1rem;
  padding:1rem;
  display:flex;
  flex-direction:column;
  /* vertical axis */
  align-item:center;
  /* horizontal axis */
  justify-content:center
}
@media(min-width:768px){#intro{
  /* min-height:50vh; */
  
  flex-direction:row;
  /* vertical axis*/
  align-item:center;
  /* horizontal axis */
  justify-content:center
  }
}
